h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 35.41px;
}

h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 35.41px;
}

h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 35.41px;
}
