.wrapper {
  display: grid;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  grid-template-areas:
    '. header header .'
    '. sidebar body .'
    'footer footer footer footer';
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.header {
  grid-area: header;
}
