.btn {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}

.primary:hover{
    background-color
}

.gost {
  color: var(--gray);
  border: 1px solid var(--gray-light);
  background: none;
}
